/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2019, 6:30:44 PM
    Author     : DGunn Razer Laptop
*/

.SPFbox {
  background-color: #fff;
  width: 1000px;
  border: 5px solid grey;
  margin-bottom: 20px;
  padding: 20px;
}
.TitleBox{
	background-color:darkgrey;
	width: 1000px;
	padding: 20px;
	border: 5px solid grey;

}